.main-container{
background-color: white;
box-shadow: var(--lwc-shadowDropDown);
}
.button-card-style{
    padding: 0px 0px 0px 0px;

}
.main-label{
  font-size: 1.8rem;
}

.spinner-container{
    max-height: 100vh;
}

.slds-modal__container {
    width: 90%;
    max-width: 100rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.title-heading{
    font-size: 13px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .slds-modal__container{
        margin-right: 1rem;
        margin-left: 1rem;
    }
  }

ul {
    list-style: disc;
    list-style-position: inside;
}

h2 {
    font-size: 14px;
    font-weight: 500;
}

ul li{
    padding-top: 0.5rem;
}